/* применяем ко всем элементам */
* {
   box-sizing: border-box;
   /* чтоб margin и padding уже входили в размер блока */
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   font-family: Nunito, BlinkMacSystemFont, Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   background-color: rgba(133, 135, 150, 0.1);
   text-align: left;
}

.nav-ul {
   list-style-type: none;
   text-align: left;
   padding: 0px;
   /* чтоб было по центру */
   height: 56px;
   /* padding-top: 20px;
   padding-bottom: 20px; */
   padding: 0.5rem 1rem;
   margin: 0 0 0 60px;
}

.nav-li {
   display: inline;
   margin-right: 100px;
}

.navbar-brand {
   display: inline-block;
   padding-top: 0.3125rem;
   padding-bottom: 0.3125rem;
   margin-right: 1rem;
   font-size: 1.25rem;
   color: rgba(0, 0, 0, .9);
   line-height: inherit;
}

a {
   color: #858796;
   text-decoration: none;
}

.about-li .active {
   color: #ffffff;
   font-weight: 700;
}

/* пример использования псевдокласса */
.nav-li:last-child {
   margin-right: 0px;
   /* с помощью псевдоклассов мы можем избавиться от margin-right у последнего элемента списка li */
}

main {
   display: flex;
}

.navbar {
   width: 100%;
   background: #ffffff;
   box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2);
}

.content {
   flex: 1 0 auto;
}

.main {
   display: flex;
   justify-content: space-between;
}

.section-about {
   height: 100vh;
   width: 15%;
   background-color: #4e73df;
}

.about-ul {
   list-style-type: none;
   padding: 0px;
   text-align: left;
}

.about-li {
   /* margin-left: 30px; */
   padding: 1rem;
   font-size: 0.85rem;
}

.about-li a {
   color: rgba(255, 255, 255, 0.8);
}

.fa {
   position: relative;
}

.fa::before {
   content: "\f625";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
   color: #ffffff;
   font-size: .85rem;
   margin-right: 0.25rem;
}

.fa-cog {
   position: relative;
}

.fa-cog::before {
   content: "\f013";
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
   color: rgba(255, 255, 255, .3);
   font-size: .85rem;
   margin-right: 0.25rem;
}

/* .not-active {
   position: relative;
}

.not-active::after {
   content: '\f105';
   font-family: FontAwesome;
   width: 1rem;
   text-align: center;
   float: right;
   vertical-align: 0;
   border: 0;
   font-weight: 900;
} */

.not-active:hover {
   color: #ffffff;
}

.sidebar-divider {
   border: none;
   /* Убираем границу для браузера Firefox */
   height: 0.5px;
   /* Толщина линии */
   border-top: 1px solid rgba(255, 255, 255, .15);
   margin: 0 1rem 1rem;
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}


.section-main {
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: 85%;
   color: #858796;
}

footer {
   flex: 0 0 auto;
   height: 76px;
   width: 100%;
   background-color: #ffffff;
   padding: 2rem 0;
   line-height: 1;
   font-size: 0.9rem;
}

.footer-container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.email {
   line-height: 1;
   font-size: 0.9rem;
}

.email:hover {
   color: black;
}